/* form styles */
.form-container{
    padding: 24px;
    height: 100%;
    margin-top: 1%;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-container .formfield label{
    display: inline-block;
    margin-bottom: 10px;
}

.form-error{
    color: red;
}
/* --- */

/* submit button */
.submit-button{
    background-color: rgb(81, 196, 81);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 20%;
    cursor: pointer;
}

.submit-button.submit-disabled{
    background-color: rgb(192, 196, 192);
    color: rgb(3, 3, 3);
    cursor: not-allowed;
}

.submit-button.submit-disabled:hover{
    background-color: rgb(134, 136, 134);
}

.submitfield{
    display: flex;
    justify-content: center;
}

.submit-button:hover{
    background-color: rgb(42, 138, 42);
}
/* ---- */

.empty-benefitiary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 800px;
}

.empty-benefitiary .empty-benefitiary-label{
    font-size: xx-large;
    color: grey;
}

/* benfitiary list */
.benefitiary-list{
    padding: 14px;
    height: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.benefitiary-list-item:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 7px 3px grey;
}
/* ---------- */

/* add benefitiary button container and button  */
.add-benefitiary{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 24px;
    margin: 1% 1% 0 1%;
}

.add-benefitiary .add-benefitiary-btn {
    background-color: rgb(81, 196, 81);
}

.add-benefitiary .ant-btn-primary.add-benefitiary-btn:hover {
    background-color: rgb(42, 138, 42);
}

/* ---------- */


/* empty benefitiary list */
.empty-benefitiary .add-benefitiary-btn{
    padding: 28px 58px;
    display: flex;
    align-items: center;
    background-color: rgb(81, 196, 81);
}

.empty-benefitiary .ant-btn-primary.add-benefitiary-btn:hover {
    background-color: rgb(42, 138, 42);
}
/* ---------- */


/* for medium devices */
@media screen and (max-width: 500px) {
    .submit-button {
        width: 100%;
    }
    .benefitiary-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .empty-benefitiary .empty-benefitiary-label {
        font-size: medium;
    }
    .empty-benefitiary {
        min-height: 770px;
    }
}
/* ---------- */

/* for extra small devices */
@media screen and (max-width: 400px) {

    .empty-benefitiary {
        min-height: 540px;
    }
}
/* ---------- */